body {
    margin: 0;
    background: #6870e0;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #1e212d;
    color: #acb4f4;
    height: 130px;
    margin-top: 0;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
input,
#searchButton {
    height: 30px;
    background:rgb(172, 180, 244);
    border: 2px solid transparent;
    border-radius: 5px;
}
input {
    background:rgb(172, 180, 244);
}
#searchButton {
    background: black;
    color: white;
    font-size: 0.9em;
    margin-left: 5px;
}
#modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal {
    display: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    margin:10px;
    width:280px;
    background-color: #1e212d;
    color: white;
    text-align: center;
}
h3 {
    font-size: 1.6em;
    line-height: 55px;
    margin: 0px;
    padding: 10px;
    color: #acb4f4;
}
P {
    margin: 0px;
    padding: 5px;
    line-height: 32px;
    font-size: 20px;
}
